.landing {
  height: 90vh;
  z-index: 0;
}

.lPic {
  max-width: 100%;
  height: 100%;
  width: auto;
}

.para {
  word-spacing: 1px;
}

.lPic {
  height: 350px;
  width: 350px;
}

@media only screen and (min-width: 1200px) {
  .landing-text {
    width: 25%;
  }
  .title {
    line-height: 4rem;
    margin-top: 25px;
    font-size: 3rem;
  }

  .para {
    font-size: 1.2rem;
    margin-top: 20px;
  }

  .lPic {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .landing {
    padding: 0px;
    margin-bottom: 10px;
  }
  .landing-content {
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    padding: 0px;
    flex-direction: column;
  }
  .title {
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
  }
  .para {
    font-size: 1.09rem;
    margin-top: 5px;
  }
  .lPic {
    height: 200px;
    width: 200px;
  }
}
