@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.navbar {
  height: 75px;
  position: relative;
}

nav {
  height: 100%;
  margin: 0 auto;
}

.navL {
  padding: 10px;
}

.logo {
  width: 100px;
  align-items: center;
  height: 100px;
}

.navR button {
  font-family: "Poppins", sans-serif;
}

.navR button.active {
  color: #fc6300;
  position: relative;
}

.navR button.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  /* background-color: #574c4c; */
}

/* Mobile view for navbar  */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .navR {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    top: 75px;
    background-color: #fc63001a;
    width: 0px;
    height: calc(auto - 100px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .navR.active {
    width: 100%;
  }

  .navR button {
    display: flex;
    flex-direction: column;
  }

  /* .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  } */
}
