.signup {
  width: auto;
  max-width: 100%;
  height: 100vh;
}

.left {
  position: relative;
  width: 50%;
}

.passbtn {
  /* width: auto; */
  position: relative;
}

.btn-inside {
  position: absolute;
  top: 15px;
  right: 20px;
}

.etext {
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.etext span {
  background: #fff;
  padding: 0 10px;
}

.sFooter {
  visibility: hidden;
}
.right {
  width: 50%;
  position: relative;
}

.avatar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .signup {
    text-align: center;
    width: auto;
    margin: 0;
    padding: 0 5px;
  }
  .left {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .head .logo {
    position: relative;
    left: 40%;
    height: 150px;
    width: 150px;
  }
  .body input {
    padding: 10px;
  }
  /* .sFooter {
    position: relative;
    display: block;
    overflow: visible;
    visibility: visible;
  }
  .sFooter span {
    height: 150px;
    position: relative;
    display: block;
    width: 150px;
  }
  .one {
    background: #56a6b1;
  }
  .two {
    background: #f96302;
  } */
  .right {
    display: none;
  }
}

/* @media only screen and (min-width: 1200px) {


} */
